################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgorithmDemos/AlgorithmDemos/Debug
/AlgorithmDemos/AlgorithmDemos.VC.VC.opendb
/AlgorithmDemos/AlgorithmDemos.VC.db
/AlgorithmDemos/ipch/ALGORITHMDEMOS-6915b888
/AlgorithmDemos/AlgorithmDemos/AlgorithmDemos.vcxproj.filters
/AlgorithmDemos/AlgorithmDemos/AlgorithmDemos.vcxproj.user
/AlgorithmDemos/.vs/AlgorithmDemos/v14
